<!doctype html>
<html lang="en">
    <head>
        {% block stylesheets %}
            <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
            <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/calculator">Factory Town Resource Calculator</a>
        </nav>
        <div class="container">
            <div id="ui-base" 
                data-items="{{ items|json_encode }}"
            ></div>
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
         {% endblock %}
    </body>
</html>