@import "~bootstrap/scss/bootstrap";
@import "~gijgo/css/gijgo.css";


.coin-image {
    vertical-align: middle;
}
.yellow-coin {
    color: #c08d0d;
};
.red-coin {
    color: #c0140d;
};
.blue-coin {
    color: #0d85c0;
};
.purple-coin {
    color: #8f0cc0;
}
